click
Sphinx
coverage
awscli
flake8
python-dotenv
azure-cognitiveservices-vision-customvision
azure-functions
azure-storage
azureml-sdk
ffmpeg-python
python-dotenv
Pillow
pip
matplotlib
opencv
python=3.6.5
seaborn
tensorflow